.outer-box{
    width: 100%;
    height: 500px;
    background-color: aqua;
    padding: 10px;
}
.box1{
    width: 40%;
    height: 30%;
    background-color: chocolate;
    float:left;
    margin: 10px;
}
.box2{
    width: 40%;
    height: 30%;
    background-color: brown;
    float: left;
    margin:10px;
}
.box3{
    width: 40%;
    height: 30%;
    background-color:coral;
    float: left;
    margin: 10px;
}
.box4{
    width: 40%;
    height: 30%;
    background-color:darkorange;
    float: left;
    margin: 10px;
}