.header{
    width: 100%;
    height: 150px;
    background-color: bisque;

}
.left-section{
    width: 30%;
    height: 400px;
    background-color: antiquewhite;
    float: left; 
}
.right-section{
    width: 70%;
    height: 400px;
    background-color: burlywood;
    float:left; 
}
.footer{
    height: 150px;
    width: 100%;
    background-color: aquamarine;
}
.content{
    height: 400px;
}
body{
    margin: 0;
}