.header{
    width: 100%;
    height: 85px;
    background-color: #3b5998;
}
body{
    margin: 0;
    font-family:Roboto,sans-serif; 
}
.logo{
    width: 50%;
    padding-top: 32px;
    float: left;

}
.login{
    width: 50%;
    float: left;
    padding-top: 10px;
}
.logo-text{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    font-family:Roboto,sans-serif; 
    margin-left: 170px;

    
}
.sub-btn{
    background: #3358a2;
    color: #fff;
    border: 2px solid #183362;
    cursor: pointer;
    
}
.sub-btn:hover{
    background:brown;

}
.login-label{
    color: #fff;
    font-size: 11px;
}
.login-controls{margin-left: 115px;

}
.forgoten{
    color: #9db4d6;
    font-size: 11px;
    text-decoration: none;

}
.left-section{
    width: 50%;
    float: left;
    padding-left:135px ;
    padding-top: 18px;
}
.right-section{
    width: 30%;
    float: left;
    padding-top: 50px;
}
.main-body{
    background: linear-gradient(#ffffff, #a0b0ca);
    width: 100%;
    height: 600px;
}
.image{
    width: 400px;
    

}
.para{
    font-weight: bold;
    font-size: 23px;
}
.left-side{
    height: 24px;
    width: 200px;
    border-radius: 4px;
    font-size: 15px;
    border-style: solid;
    float: left;
    margin: 5px;
}
.right-side{
    float: left;
    height: 24px;
    width: 200px;
    border-radius: 4px;
    font-size: 15px;
    border-style: solid;
    margin:5px;

    
}
.data{
    float: left;
    height: 24px;
    width: 420px;
    border-radius: 4px;
    font-size: 15px;
    border-style: solid;
    margin: 5px;

}
.tag{
    margin: 5px;

}
.db{
    height: 24px;
    width: 50px;
    margin: 5px;
}.q-btn{
    border-radius: 50%;
    background-color: #183362;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    width: 20px;
    cursor: pointer;

    
}
.rad{
    height: 20px;
    width: 20px;
}
.submit{
    float: left;
    height: 40px;
    width: 200px;
    border-radius: 4px;
    border-style:solid ;
    background-color:forestgreen;
    margin: 30px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size:16px;
}
.submit:hover{
    background:rgb(169, 195, 126);
}
.end{
    padding-top: 15px;
    float: left;
    margin-left: 5px;
}